<nav class="blogpagination" role="navigation" aria-label="Pagination">
    <ul class="blogpagination__list">
        <f:if condition="{pagination.previousPageNumber}">
            <li class="blogpagination__item blogpagination__item--previous">
                <a class="blogpagination__link" href="{f:uri.action(arguments: {currentPage: pagination.previousPageNumber}, addQueryString: 1)}" rel="prev">
                    <span class="blogpagination__itemtitle">Previous</span>
                </a>
            </li>
        </f:if>

        <f:if condition="{pagination.lessPages}">
            <li class="blogpagination__item blogpagination__item--first">
                <a class="blogpagination__link" href="{f:uri.action(arguments: {currentPage: pagination.firstPageNumber}, addQueryString: 1)}">
                    <span class="blogpagination__itemtitle">{pagination.firstPageNumber}</span>
                </a>
            </li>
            <li class="blogpagination__item blogpagination__item--disabled blogpagination__item--ellipsis">
                <a href="javascript:void();" tabindex="-1" aria-hidden="true" class="blogpagination__link"><span class="blogpagination__itemtitle">…</span></a>
            </li>
        </f:if>

        <f:for each="{pagination.displayPageNumbers}" as="pageNumber">
            <f:if condition="{pageNumber} == {pagination.currentPageNumber}">
                <f:then>
                    <li class="blogpagination__item blogpagination__item--active">
                        <a class="blogpagination__link" href="{f:uri.action(arguments: {currentPage: pageNumber}, addQueryString: 1)}" aria-current="true">
                            <span class="blogpagination__itemtitle">{pageNumber}</span>
                        </a>
                    </li>
                </f:then>
                <f:else>
                    <li class="blogpagination__item">
                        <a class="blogpagination__link" href="{f:uri.action(arguments: {currentPage: pageNumber}, addQueryString: 1)}">
                            <span class="blogpagination__itemtitle">{pageNumber}</span>
                        </a>
                    </li>
                </f:else>
            </f:if>
        </f:for>

        <f:if condition="{pagination.morePages}">
            <li class="blogpagination__item blogpagination__item--disabled blogpagination__item--ellipsis">
                <a href="javascript:void();" tabindex="-1" aria-hidden="true" class="blogpagination__link"><span class="blogpagination__itemtitle">…</span></a>
            </li>
            <li class="blogpagination__item blogpagination__item--last">
                <a class="blogpagination__link" href="{f:uri.action(arguments: {currentPage: pagination.lastPageNumber}, addQueryString: 1)}">
                    <span class="blogpagination__itemtitle">{pagination.lastPageNumber}</span>
                </a>
            </li>
        </f:if>

        <f:if condition="{pagination.nextPageNumber}">
            <li class="blogpagination__item blogpagination__item--next">
                <a class="blogpagination__link" href="{f:uri.action(arguments: {currentPage: pagination.nextPageNumber}, addQueryString: 1)}" rel="next">
                    <span class="blogpagination__itemtitle">Next</span>
                </a>
            </li>
        </f:if>
    </ul>
</nav>
